include partials/header

.content
    .about
        h1 About The Project
        p 
            strong Project Title: 
            | Eduplay
        p 
            strong Team number: 
            | 28
        p 
            strong Team members: 
            | Willis Allstead, Jordan DeNoce, Matthew Thayer, Michael Thomas
        p 
            strong External Advisor: 
            | Ben Brown
        p 
            strong Project Description:  
            | EduPlay is an educational software for teachers to create their own custom educational games and a platform for students to be able to connect to their teachers account and play content they have created. Our goal for teachers is to make an intuitive and easy way for them to insert their own content into template games. This way teachers can easily integrate our software with their lesson plan. The software will also take care of any assignment grading for the teacher, making our software a convenient solution for large classes. Our goal for the students is to provide a barrier from failure, feedback while and after playing, and a path for further learning. Some students find the learning process frustrating, stressful, or they are simply uninterested because they feel they are lost and don’t know where to go for help. We are making this software to solve these problems for students by providing them with a safe, fun, and interactive learning environment. Students will have unlimited tries, just like a game, so as long as they are willing to try, the system will work with them for as long as it takes them to complete their assignment. Once a student has finished the assignment, they will realize it is just a small part of the game itself. To complete the game, or reach the best outcome, the student will have to play beyond the original assignment and is encouraged to achieve a higher level of mastery. Through this we hope to give students a next step up from the assignment to encourage further learning.
        p 
            strong Current Status: 
            | This site is mostly usable on the teacher side of things. You can sign up as a teacher, login, and use the interface to create games and invite students. We are currently working on integration with the unity games that will be displayed in the Student interface.
        p 
            strong Related Resources: 
        ul
            li Journal Articles:
                ul
                    li 
                        p Lai Poh, E. T., Causo, A., Pei-Wen Tzuo, I-Ming, C. Yeo, S. H. “A review on the use of robots in education and young children.” Journal of Educational Technology and Society, 19(2), 148-163. 2016

                    li 
                        p Weintrop D. and Wilensky U. “Making Gameplay a Programming Activity.” Educational Technology, vol. 56, 0013-1962. 2016.

                    li 
                        p Grover, Shuchi, and Roy Pea. “Computational Thinking in K—12: A Review of the State of the Field.” Educational Researcher, vol. 42, 38-43. 2013.

            li Similar Websites:
                ul
                    li
                        p
                            a(href="http://www.lumosity.com") www.lumosity.com 
                            | - A software made for training a particular brain skill. For instance, memory and attention. This site does this by having a large assortment of games, each of which is made to target one of the particular brain skills. Based off the performance in these games, a score is given for each individual skill. Every time one plays their score will update.
                    li
                        p
                            a(href="http://www.quizlet.com") www.quizlet.com
                            | - Quizlet is a website where one has the ability to upload and share flashcards with other users. Once a set of flashcards is created, there is an option to play different games with the specific set of flashcards that adapt based off of whatever the questions and answers to the flashcards are.
                    li
                        p
                            a(href="http://www.funbrain.com") www.funbrain.com
                            | - FunBrain is a browser site that has a large field of educational games. One has the ability to search for relevant games that they can play based off of their grade level. This site appeals mostly to kids but has games categorized from kindergarten to eighth grade.
            li News Articles:
                ul
                    li 
                        p  
                            a(href="https://www.courant.com/news/connecticut/hc-news-connecticut-digital-education-20190122-vnftfvcyr5e4jcnqcy6ipitbnu-story.html") "Are video games an effective tool in the classroom? These Connecticut teachers think so."



    
            

include partials/footer