include partials/header

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/my-games') My Games
        li
            a(href='#') Create Game

    .subheader
        h1 Create Game

    .creategameContent
        ul.uk-subnav.uk-subnav-pill(uk-switcher='animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium')
            li
                a(href='#') Spelling
            li
                a(href='#') Math
        ul.uk-switcher.uk-margin
            .spelling-game 
                form(action='/create-game' method='POST')
                    input(type='hidden', name='gametype' value='spelling')
                    fieldset.uk-fieldset
                        legend.uk-legend Game Name
                        .uk-margin
                            input.uk-input(type='text', placeholder='e.g. Spelling Week 1' name='name' required='required')
                    fieldset.uk-fieldset
                        legend.uk-legend Words
                        .uk-margin.wordsInGame
                            .uk-margin
                                .uk-inline
                                    input.uk-input(type='text', name='words')
                                    button.uk-form-icon.uk-form-icon-flip(uk-icon='icon: close', type="button", class="delete-word")
                        .uk-margin
                            button(class="uk-button uk-button-primary", type="button", id="add-word") 
                                |Add Word
                                span(uk-icon='plus')
                    .uk-margin
                        button(class="uk-button uk-button-secondary") Create Game
                        
            .math-game
                p [Add math game options here]

//- div.container
//- 	div.row
//- 		.col-md-4.offset-md-4#loginBox
//- 			div.account-wall
//- 			form(class='form-signin', action='/login', method='POST')
//- 				input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
//- 				input(type='password', name='password' class='form-control', placeholder='Password', required)
//- 				input(type='checkbox', name='remember', placeholder='Remember me')
//- 				|   Remember me
//- 				button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
//- 				span.clearfix
				
//- 			a(href='/join', class='text-center new-account') Create an account


					
//- br

include partials/footer