include partials/header

.content.mygames
    ul.uk-breadcrumb
        li
            a(href='/my-games') My Games
        li
            a(href='#') #{title}

    .subheader
        h1 #{title}

    .gamedetailContent
            .spelling-game 
                form(action='/update-game' method='POST')
                    input(type='hidden', name='id' value='' + gameData.id)
                    fieldset.uk-fieldset
                        legend.uk-legend Words
                        .uk-margin.wordsInGame
                             each word in gameData.options.words
                                .uk-margin
                                    .uk-inline
                                        input.uk-input(type='text', name='words', value='' + word)
                                        button.uk-form-icon.uk-form-icon-flip(uk-icon='icon: close', type="button", class="delete-word")
                        .uk-margin
                            button(class="uk-button uk-button-primary", type="button", id="add-word") 
                                |Add Word
                                span(uk-icon='plus')
                    .uk-margin
                        button(class="uk-button uk-button-secondary") Update Game
            .game-information
                h3 Share with your students:
                .game-connection-link
                    input(type="text", value="www.eduplay.com/play/" + gameData.code)
                h3 See Results:
                .uk-margin
                    a(class="uk-button uk-button-secondary", href='/my-games/' + gameSlug + '/results') Student Results

//- div.container
//- 	div.row
//- 		.col-md-4.offset-md-4#loginBox
//- 			div.account-wall
//- 			form(class='form-signin', action='/login', method='POST')
//- 				input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
//- 				input(type='password', name='password' class='form-control', placeholder='Password', required)
//- 				input(type='checkbox', name='remember', placeholder='Remember me')
//- 				|   Remember me
//- 				button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
//- 				span.clearfix
				
//- 			a(href='/join', class='text-center new-account') Create an account


					
//- br

include partials/footer